@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

.maincontainer {
    height: auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(4, minmax(250px, 1fr));
    justify-items: center;
}

.maincard {
    margin-top: 20px;
    margin-bottom: 20px;
  
 }
 
 .divpick{
     margin: 0;
     font-family: "Quicksand";
     color: #333;
     margin: 0 auto;
     display: block;
     max-width: 300px;
 }
 
 .weaponscontainer {
    height: auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: center;
}

.weaponscard {
   margin-top: 20px;
   margin-bottom: 20px;
 
}

.ashecontainer {
    height: auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: center;
}

.card1 {
   margin-top: 20px;
   margin-bottom: 20px;
 
}
