.hugs{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.chat {
    text-align: center;
    background-color: #4d3200;
    max-width: 200px;
    padding: 20px;
    border-radius: 8px;
    align-items: center;
    margin-top: 10px;
    border: 6px solid #996600;
  }

.awnser {
  font-family: "Quicksand";
  color: black;
  padding: 20px;
  margin-top: 10px;
  border-radius: 8px;
 
}

.containerhug{
  display: flex;
}

.box {
  height: 50px;
  width: 50px;
  background-color: tomato;
  border: 2px solid black;
}