@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  /* max-width: 600px; */
  margin: 0 auto;
  background-color: #4d3300;
}
.navbar h1 {
  color: #e6ac00;
}
.navbar .links {
  margin-left: auto;
}


.navbutton{
  color: #f2f2f2 !important;
  background-color: #e6ac00 !important;
}
.navbuttonmenu{
  margin-left: 16px;
  text-decoration: none;
  background-color: #e6ac00;
  border-radius: 8px;
  color: white;
}

.navbar a:hover {
  color: #999900;
}
